/* 
    Document   : css
    Created on : 28/06/2013, 15:14:29
    Author     : jeff
    Description:
        Purpose of the stylesheet follows.
*/

root { 
       display: block;
}

body{
       background-color: appworkspace;
       font-size: 14px;
}
#templateCliente{
       font-size: 10px;
}
h3{
    text-align: center;
}

#panelCliente{
        border: none;
        
}

.semBorda tr, .semBorda td {  
     border: none !important;  
}  

.container{
    margin-top: 10px;
    border: none !important;
    padding: 0px;
}

#titutoInicial{
    text-align: center;
    margin-top: 22%;
    font-family: "Monotype Corsiva";
    font-size: 35px;
    text-shadow:  1px 1px 1px #999999;
    font-style: italic;
}