/* 
    Document   : css
    Created on : 28/06/2013, 15:14:29
    Author     : jeff
    Description:
        Purpose of the stylesheet follows.
*/

root { 
       display: block;
}

body{
       background-color: appworkspace;
       font-size: 14px;
}
#templateCliente{
       font-size: 10px;
}
h3{
    text-align: center;
}

#panelCliente{
        border: none;
        
}